<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../css/registerStyles.css">
</head>
<body>
<form th:method="POST" th:action="@{/register}" th:object="${person}">
  <div class="register-container">
    <h1>Register</h1>
    <div class="input-container">
      <label for="username">Username</label>
      <input type="text" id="username" th:field="*{username}">
    </div>
    <p id="error-message-one" style="color:red;" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    <div class="input-container">
      <label for="password">Password</label>
      <input type="password" id="password" th:field="*{password}">
    </div>
    <p id="error-message-two" style="color:red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <button onclick="register()" class="button" id="register">Register</button>
    <input type="submit" value="Register"/>
    <button id="toLogin" class="button" onclick="window.open('/login')">Login</button>
  </div>
</form>
<script src="../js/registerScript.js"></script>
</body>
</html>
